.texto-preto {
    color: black;
}

.sombra-preto {
    -webkit-box-shadow: 0px 8px 16px black;
    box-shadow: 0px 8px 16px black;
}

.tema-preto {
    background-color: black;
    color: white;
}

.texto-cinza {
    color: gray;
}

.sombra-cinza {
    -webkit-box-shadow: 0px 8px 16px gray;
    box-shadow: 0px 8px 16px gray;
}

.tema-cinza {
    background-color: gray;
    color: black;
}

.texto-cinzinha {
    color: lightgray;
}

.sombra-cinzinha {
    -webkit-box-shadow: 0px 8px 16px lightgray;
    box-shadow: 0px 8px 16px lightgray;
}

.tema-cinzinha {
    background-color: lightgray;
    color: black;
}

.texto-branco {
    color: white;
}

.sombra-branco {
    -webkit-box-shadow: 0px 8px 16px white;
    box-shadow: 0px 8px 16px white;
}

.tema-branco {
    background-color: white;
    color: black;
}

.texto-roxo {
    color: purple;
}

.sombra-roxo {
    -webkit-box-shadow: 0px 8px 16px purple;
    box-shadow: 0px 8px 16px purple;
}

.tema-roxo {
    background-color: purple;
    color: white;
}

.texto-azul {
    color: blue;
}

.sombra-azul {
    -webkit-box-shadow: 0px 8px 16px blue;
    box-shadow: 0px 8px 16px blue;
}

.tema-azul {
    background-color: blue;
    color: white;
}

.texto-verde {
    color: green;
}

.sombra-verde {
    -webkit-box-shadow: 0px 8px 16px green;
    box-shadow: 0px 8px 16px green;
}

.tema-verde {
    background-color: green;
    color: black;
}

.texto-amarelo {
    color: yellow;
}

.sombra-amarelo {
    -webkit-box-shadow: 0px 8px 16px yellow;
    box-shadow: 0px 8px 16px yellow;
}

.tema-amarelo {
    background-color: yellow;
    color: black;
}

.texto-laranja {
    color: orange;
}

.sombra-laranja {
    -webkit-box-shadow: 0px 8px 16px orange;
    box-shadow: 0px 8px 16px orange;
}

.tema-laranja {
    background-color: orange;
    color: black;
}

.texto-vermelho {
    color: red;
}

.sombra-vermelho {
    -webkit-box-shadow: 0px 8px 16px red;
    box-shadow: 0px 8px 16px red;
}

.tema-vermelho {
    background-color: red;
    color: white;
}

.texto-marrom {
    color: brown;
}

.sombra-marrom {
    -webkit-box-shadow: 0px 8px 16px brown;
    box-shadow: 0px 8px 16px brown;
}

.tema-marrom {
    background-color: brown;
    color: white;
}

.card,
.item {
    border-radius: 8px;
    padding: 16px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 70% 10%;
    grid-template-columns: 20% 70% 10%;
    grid-template-areas: "logo detalhe status";
    position: relative;
}

.item {
    margin-top: 16px;
}

.item img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
    max-width: 32px;
}

.item .detalhe {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: detalhe;
    margin-top: 8px;
}

.item .titulo {
    font-weight: bold;
}

.item .descricao {
    font-size: 16px;
}

.item .icone {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: status;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.item .icone i {
    font-size: 16px;
}

nav {
    background: blue;
    border-bottom: 8px solid orange;
}

nav a {
    text-transform: uppercase;
    color: white;
}

nav a span {
    font-weight: bold;
}

nav .sidenav-trigger {
    margin: 0;
}

.button {
    display: inline-block;
    border-radius: 25px;
    border: none;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    position: absolute;
    left: 270px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: ':)';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}


/*# sourceMappingURL=main.css.map */