$cor_verde:#004d40;
$cor_violeta:#311b92;

$cor_rosa:#e91e63;
$cor_ambar:#ff6f00;
$cor_castanho:#4e342e;
$cor_preto:#000000;
$cor_branco:#ffffff;

$cores:(
    verde:$cor_verde,
    violeta:$cor_violeta,
    rosa:$cor_rosa,
    ambar:$cor_ambar,
    castanho:$cor_castanho,
    preto:$cor_preto,
    branco:$cor_branco
    )